langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-qdrant
langgraph
qdrant-client
PyGithub
pydantic
langchain-openai
python-dotenv
gunicorn
uvicorn
fastapi[standard]
langsmith
pytest
pytest-asyncio
pytest-mock
flashrank
redis
langgraph-checkpoint-postgres
psycopg[binary,pool]
mlflow